.time-enter {
    opacity: 0;
}
.time-enter-active {
    opacity: 1;
    transition: opacity 1000ms;
}
.time-exit {
    opacity: 1;
}
.time-exit-active {
    opacity: 0;
    transition: opacity 1000ms;
}

.time {
    color: red;
}